<%= form_for(@category) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent_id %>
    <%= f.token_field :parent_id, :model => :category, :token_url => token_categories_path %>
  </p>
  <%= f.submit %>
<% end %>
<%= link_to "Listing", categories_path %>